@page
@model AssetManagement.Pages.Purchases.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Purchase</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Purchase.PurchaseDate" class="control-label"></label>
                <input asp-for="Purchase.PurchaseDate" class="form-control" />
                <span asp-validation-for="Purchase.PurchaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purchase.ProductId" class="control-label"></label>
                <select asp-for="Purchase.ProductId" class ="form-control" asp-items="ViewBag.ProductId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Purchase.Company.CompanyName" class="control-label"></label>
                <select asp-for="Purchase.CompanyId" class ="form-control" asp-items="ViewBag.CompanyId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
